@using PlanB.Common
@using PlanB.Web.ViewModels.Employee.Tanks
@using PlanB.Web.ViewModels.Employee.Batches
@model BatchesListViewModel
@{
    ViewData["Title"] = "Index";

}


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <!-- Content Row -->


    <div class="row">
        @await Component.InvokeAsync("Tanks")
        @await Component.InvokeAsync("Chat")

    </div>

    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Batches</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                     <a asp-controller="Batches" asp-action="CreateSmallCup" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> New Small Batch</a>
                    <a asp-controller="Batches" asp-action="CreateBigCup" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> New Big Batch</a>
                </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Start date</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Start date</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var batch in Model.Batches)
                            {
                                <tr>
                                    <td>@batch.FullName</td>
                                    <td>@batch.Type</td>
                                    <td>@batch.Hour</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>








