@{
    this.ViewBag.Title = "Chat";
}

@*<h1>@this.ViewBag.Title</h1>*@



<div class="col-xl-3 col-md-6 mb-4 ">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body ">
            <div class="row no-gutters align-items-center">

                <div class="row">
                    <div class="col-4"><textarea id="chatInput"></textarea></div>
                </div>
                <hr />
                <div class="col-auto">
                    <input type="button" id="sendChat" value="Send Message" />
                </div>
            </div>
            <div class="row ">&nbsp;</div>
            <div class="overflow-auto" style="height: 100px; overflow-y: scroll;">
                <article>
                    <ul id="messagesList">
                       
                    </ul>
                </article>
            </div>

        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat2.js"></script>
